@import "../../../assets/sass/base";
@import "../../../assets/sass/mixins";

.header {
    // position: fixed;
    position: relative;

    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    // background-color: #fff;
    background-color: black;
    // box-shadow: 0 0 10px rgba($brand-primary-color, 0.3);
    box-shadow: 0 0 10px rgba(white, 0.3);

    &__wrapper {
        width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: $header-height;
        padding: 1rem 0rem;
        font-size: 1.7rem;
        font-family: $text-font;
        // color: $brand-primary-color;
        color: white;
    }

    
    &__logo {   
        width: 180px;
      
    }
    

    &__nav {
       display: flex;
       align-items: center;
       color: white;
    }

    &__nav-list {
        @include list-reset;
        display: flex;
        margin-right: 2rem;
        color: white;
    }

    &__nav-item {
       
        // color: inherit;
        color: white;
        margin: 0rem 1.2rem;
        display: flex;
        align-items: center;
        &--cart {
            margin-right: 4rem;
            margin-left: 0rem;
        }
        &-user-icon {
            color: white;
            
        }
    }

    &__nav-link {
       
        // color: inherit;
        color: white;
        text-decoration: none;

        &-icon {
           font-size: 2.2rem;
           color: white;
        }
    }

    &__categories {
        border-top: 1px solid #ccc;
        &-wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: white;
        }

        &-item {
            margin-right: 2rem;
            font-size: 1.6rem;
            padding: 1.2rem 0rem;
            font-weight: 400;
            text-transform: capitalize;
            a {
                // color: inherit;
                color: white;
                text-decoration: none;
                text-transform: capitalize;
            }

           
        }
    }

    @media (max-width: map-get($breakpoint, tablet-lg)) {
        &__nav {
            &-list {
                display: none;
                color: white;
            }
        }


        &__wrapper{
            width: 100%;
        }
    }

    @media (max-width: map-get($breakpoint, tablet)) {
        // Adjust styles for tablet

        // width: 768px;

        &__wrapper {
            width: 100%;
            padding: 0rem 2rem;
        }

        &__nav {
            &-list {
                display: none;
                color: white;
            }

            &-item {
               &--cart {
                color: white;

               }
            }
        }
      }
    
    @media (max-width: map-get($breakpoint, mobile-sm)) {
        // Adjust styles for mobile
            width: 100px;
            &__wrapper {
                width: 100px;
            }

            &__search {
                display: none;
            }

            &__logo {
                // margin-left: 2rem;
                // margin-left: 20px;
            }

            &__wrapper {
                justify-content: unset;
            }


            &__nav {
                &-item {

                    &--user {
                        margin-left: 3rem;
                    }
                }

            }

            &__auth {
                display: none;
            }
      }

}

